.hidden {
    display: none;
  }
  
.profit, .loss {
  font-weight: bold;
}

.profit {
  color: var(--success-color);
}

.loss {
  color: var(--error-color);
}

#loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
  color: var(--primary-color);
}

